@import "tailwindcss";

@font-face {
    font-family: 'Ubuntu';
    src: url('/assets/fonts/Ubuntu-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
}

@theme {
    /* Colors */
    --color-negro: rgba(0, 8, 20, 1);
    --color-azul-oscuro: #001d3d;
    --color-azul-claro: rgba(135, 206, 235, 1);
    --color-amarillo-1: #FFC300;
    --color-amarillo-2: #ffd60a;
    --color-blanco: #FAF0E6;

    /* Fonts */
    --font-sans: 'Ubuntu', system-ui, sans-serif;
}

body {
  color: #FAF0E6; 
}


.header_links {
  position: relative;
  text-decoration: none;
}

.header_links::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #FFC300;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.header_links:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.descargar_curriculum {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  border-radius: 500px;
  overflow: hidden;
  background: #FFC300;
  color: #001d3d;
  font-weight: 700;
 }
 
 .descargar_curriculum span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
 }
 
 .descargar_curriculum:hover span {
  color: FAF0E6;
 }
 
 .descargar_curriculum::before,
 .descargar_curriculum::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 .descargar_curriculum::before {
  content: "";
  background: #FAF0E6;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 .descargar_curriculum:hover::before {
  transform: translate3d(100%, 0, 0);
 }
 
